body {
    margin: 0;
    padding: 0;
    background-color: #EAD0D0;
}

header {
    background-color: #ccc;
    padding: 70px 20px;
    position: relative;
    border: #000 solid 1px;
}

header h1 {
    font-size: 56px;
    margin: 0;
    padding-top: 15px;
    position: absolute;
    top: 22px;
}

header nav {
    display: flex;
}

header nav a {
    margin: 0 55px;
    text-decoration: none;
    color: #000;
    font-size: 25px;
}

#home {
    position: absolute;
    left: 370px;
    top: 55px;
}

#cadastrar {
    position: absolute;
    left: 490px;
    top: 55px;
}

#sobreN {
    position: absolute;
    left: 645px;
    top: 55px;
}

#build {
    position: absolute;
    left: 810px;
    top: 55px;
}